body {
    background-color: darkblue;
    background-image: url("doragon.jpg");
    margin:150px 50px;
    border-image-repeat: none;
    background-repeat: no-repeat;
    background-size: cover;        
    background-position: center;        
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("doragon.jpg");
  }
  #text {
    background-color: mediumslateblue;
    color: black;
    padding: 10px;
  }
  
  #game {
    max-width: 500px;
    max-height: 400px;
    background-color: lightgray;
    color: white;
    margin: 0 auto;
    padding: 10px;
  }
  
  #controls {
    border: 1px black solid;
    padding: 5px;
  }
  
  #stats {
    border: 1px black solid;
    color: black;
    padding: 5px;
  }
  
  #monsterStats {
    display: none;
    border: 1px black solid;
    color: white;
    padding: 5px;
    background-color: red;
  }
  
  .stat {
    padding-right: 10px;
  }